@charset "utf-8";
/* CSS Document */

* {
	box-sizing: border-box;
	font-family: 'Love Ya Like A Sister', cursive;
}

h1 {
	color: #E08742;
	font-weight: bold;
	font-size: 50px;
}

body {
	font-size: 15px;
}

img {
	width: 400px;
	height: auto;
}

footer {
	font-weight: bold;
	font-size: 1rem;
	text-align: center;
	padding-top: 100px;
}

